.about-section {
  flex: 1;
  padding: 60px 20px;
}

.row {
  margin-bottom: 30px;
}

.about-me {
  margin-bottom: 30px;
}

.about-section h3 {
  margin-top: 0;
  margin-bottom: 40px;
}

.about-section span {
  color: #0ba376;
  font-weight: bold;
}

.about-section__image {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.about-section__image img {
  margin: 0;

  max-height: 400px;
  object-fit: contain;
}

.infos {
  display: flex;
  flex-direction: column;
}

.infos div {
  margin-bottom: 10px;
}
.infos span {
  margin-right: 10px;
}

.about__social-bar {
  display: flex;
  flex-direction: column;
}
.about__social-bar a {
  margin: 10px;
  display: flex;
  align-items: center;
  color: #0ba376;
}

.about__social-bar a p {
  margin: 0 20px;
  color: black;
}

.skills-content {
  margin: 10px 0;
}

.skills-content h4 {
  display: flex;
  line-height: 40px;
}
.skills-content h4 i {
  height: 40px;
  width: 40px;
  display: flex;
  margin-right: 30px;
  color: #0ba376;
  justify-content: center;
  align-items: center;
}

.btns-wrapper {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btns-wrapper a {
  text-decoration: none;
}

.custom-btn {
  height: 50px;
  width: 180px;
  padding: 6px 12px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #ffffff;
  background-color: #0ba376;
  color: white;
  margin: 5px 10px;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.custom-btn:hover {
  border: solid 2px #0ba376;
  background-color: #fff;
  color: #0ba376;
}

@media screen and (min-width: 640px) {
  .about-section {
    padding: 30px 150px;
  }
}

@media screen and (min-width: 992px) {
  .btns-wrapper {
    flex-direction: row;
  }
}
