.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 70px 0;
  position: relative;
}

.home__image__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.home__image__container img {
  max-height: 350px;
}

.home__content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__down-icon {
  position: absolute;
  bottom: 5px;
}

.home h3 {
  text-align: center;
  color: #222222;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 2.2em;
}

.home h3 span {
  color: #0ba376;
}

.home h1 {
  text-align: center;
  font-size: 1.3em;
}

.home p {
  color: #888888;
  margin-top: 5px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5px;
  font-size: 0.9em;
}
.logos {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.logos i {
  display: block;
  height: 30px;
  width: 30px;
  font-size: 40px;
  line-height: 40px;
  margin: 10px 10px;
}
.react {
  color: #81d9f7;
}
.node-js {
  color: #4f9b43;
}
.js {
  color: #f7df1e;
}

.go-to-btns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go-to-btns-wrapper .btn {
  width: 160px;
  height: 40px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #ffffff;
  background-color: #0ba376;
  color: white;
  margin: 5px 10px;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.go-to-btns-wrapper .btn:hover {
  border: solid 2px #0ba376;
  background-color: #fff;
  color: #0ba376;
}

.skills-content p ul {
  list-style-type: none;
}

.skills-content p ul li::before {
  content: "\2022";
  color: #0ba376;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

section {
  padding: 30px 30px;
}
section span {
  color: #0ba376;
  font-weight: bold;
}

.home__services {
  background-color: #eee;
}
.home__services__col {
  padding: 30px 0;
}

.home__services__card {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
}

.home__services__card h4 {
  position: relative;
  margin-bottom: 40px;
}

.home__services__card h4::before {
  position: absolute;
  left: 0;
  bottom: -5px;
  display: inline-block;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #0ba376;
}

.home__blog {
  background-color: #eee;
}

.home__blog__col {
  padding: 30px 0;
}

.home__blog__card {
  position: relative;
}

.home__blog__card img {
  overflow: hidden;
  transition: transform 0.5s ease !important;
}

.home__blog__card img:hover {
  transform: scale(1.2);
}

.home__blog__card__infos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #22222256;
  color: white;
  padding: 10px;
}

.home__blog__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__projects__col {
  padding: 30px 0;
}

.home__projects__card {
  position: relative;
}

.home__projects__card img {
  overflow: hidden;
  transition: transform 0.5s ease !important;
}

.home__projects__card img:hover {
  transform: scale(1.2);
}

.home__projects__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__projects__card__infos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #22222256;
  color: white;
  padding: 10px;
}

@media screen and (min-width: 640px) {
  .go-to-btns-wrapper {
    flex-direction: row;
  }

  .home h3 {
    font-size: 3em;
  }

  .home h2 {
    font-size: 2em;
  }

  .home p {
    font-size: 1em;
  }
  .logos i {
    height: 40px;
    width: 40px;
  }

  .go-to-btns-wrapper .btn {
    width: 180px;
    height: 50px;
    font-size: 1em;
  }
}

@media screen and (min-width: 992px) {
  .home {
    flex-direction: row;
  }

  section {
    padding: 50px 150px;
  }

  .home__image__container img {
    max-height: 550px;
  }

  .home__services__col {
    padding: 30px;
  }

  .home__services__card {
    min-height: 400px;
  }

  .home__blog__col {
    padding: 20px;
  }

  .home__projects__col {
    padding: 20px;
  }
  .home__down-icon {
    bottom: 15px;
  }
}
