.postcard {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

.postcard__image {
  width: 100%;
}

.postcard__content__title {
  margin-bottom: 10px;
  margin-top: 0;
  color: #0ba376;
  font-size: 1.2rem;
}

.postcard__content__pusblished-at {
  margin-top: 0;
  font-size: 0.6rem;
}

@media screen and (min-width: 900px) {
  .postcard {
    width: 50%;
  }
}
